/* Vertical dashed line */
.vertical-line {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 6px;
  height: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(31, 31, 31, 0.7),
    rgba(31, 31, 31, 0.7) 10px,
    transparent 10px,
    transparent 25px
  );
  transform: translateX(-50%);
  transition: height 0.5s ease-in-out, left 0.5s ease-in-out;
  z-index: 1;
}

.vertical-line.grow {
  height: 40%;
}
